<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conexion.Properties.Settings.Bd_TiendaConnectionString"
            connectionString="Data Source=DESKTOP-FUKI3JG;Initial Catalog=Bd_Tienda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>